<br />
<table width="100%">
	<tr>
		<td>
			<ul class="accordion" id="accordion">
				<li id="accordion1" class="bg1">
	
					<div class="bgImage bg_color1"></div>
					<div class="heading color_red">
						Skin
						<br/>
						Rejuvenation
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Skin Rejuvenation</h2>
						<p>
							Offering; Acne treatment, Peeling, Stretch Marks,
							<br/>
							Scar revision, Skin Imperfection
						</p>
						<%= link_to 'more&rarr;'.html_safe ,acne_treatment_path %>
					</div>
	
				</li>
				<li id="accordion2" class="bg2">
					<div class="bgImage bg_color2"></div>
					<div class="heading color_gold">
						Hair
						<br/>
						Reduction
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Hair Reduction</h2>
						<p>
							This noninvasive laser treatment uses gentle
							<br/>
							beams of light to get rid of hair.
						</p>
						<%= link_to 'more&rarr;'.html_safe ,hair_reduction_path %>
					</div>
	
				</li>
				<li id="accordion3" class="bg3">
					<div class="bgImage bg_color3"></div>
					<div class="heading color_blue">
						Vitiligo
						<br/>
						&nbsp;
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Vitiligo</h2>
						<p>
							Our advanced Vitiligo treatment with UVB
							<br/>
							technology uses a carefully.
						</p>
						<%= link_to 'more&rarr;'.html_safe ,vitiligo_surgical_path %>
					</div>
	
				</li>
				<li id="accordion6" class="bg6 bleft">
					<div class="bgImage bg_color6"></div>
					<div class="heading color_orange">
						Hair
						<br/>
						Transplant
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Hair Transplant</h2>
						<p>
							
							Hair transplantation is a surgical technique that involves</br/> moving skin containing hair follicles from one part of the body to balding parts.
						</p>
						<%= link_to 'more&rarr;'.html_safe ,hair_transplant_path %>
					</div>
	
				</li>
				<li id="accordion5" class="bg5 bleft">
					<div class="bgImage bg_color5"></div>
					<div class="heading color_green">
						Body
						<br/>
						Shaping
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Body Shaping</h2>
						<p>
							Loose sagging skin just does not look good and</br/> gets in the way of normal activities or movement.
						</p>
						<%= link_to 'more&rarr;'.html_safe ,body_shaping_path %>
					</div>
	
				</li>
				<li id="accordion4" class="bg4 bleft">
					<div class="bgImage bg_color4"></div>
					<div class="heading color_purple">
						Anti
						<br/>
						Aging&nbsp;
					</div>
					<div class="bgDescription"></div>
					<div class="description">
						<h2>Anti Aging</h2>
						<p>
							The clock is ticking and as we age our skin
							<br/>
							appears dull.
						</p>
						<%= link_to 'more&rarr;'.html_safe ,botox_path %>
					</div>
	
				</li>
				
				
			</ul>
		</td>
	</tr>
</table>

<br />

<div class="row-fluid">

	<div class="span7">
		<h3>Serving all your SKINCARE needs</h3>
		<p>
			A clear glowing complexion with a radiant, healthy skin is what we all aspire for, but more often than not there are road blocks. Besides aging, stress, hormonal changes, there are several impediments under the sun that take a toll on your personal tapestry – the skin.
		</p>
		<span class="span5"> <img alt="Img_home1" src="/assets/img_home1.jpg"> </span>
		<span class="span1"></span>
		<span class="span5"> <img alt="Img_home2" src="/assets/img_home2.jpg"> </span>
		<p>
			When it comes to advanced beauty, think a little deeper. Today beauty has been redefined and it is time to acquaint yourself with cosmetic surgery procedures that will help you attain your cosmetic goals.
		</p>
		<%= link_to 'more&rarr;'.html_safe ,about_path %>
	</div>
	<div class="span1">
		<!--Sidebar content-->
		<br>
		<div class="fb-like-box" data-href="https://www.facebook.com/kiranderma?ref=ts&amp;fref=ts" data-width="365" data-height="400" data-show-faces="true" data-stream="true" data-border-color="#5c5c9e" data-header="true"></div>
	</div>
	<br />

</div>
<hr/>
<br />
<br />

<script type="text/javascript">
	$(function() {
		$('.bgDescription').css({
			'opacity' : 0.35
		});
		
		$('#accordion > li').hover(function() {
			var $this = $(this);
			
			//alert($(this).attr('id'));
			
			$this.stop().animate({
				'width' : '450px'
			}, 450);

			$('.heading', $this).stop(true, true).slideUp(400);
			//$('.bgImage', $this).stop(true, true).fadeIn(1500);

			$('.bgDescription', $this).stop(true, true).slideDown(500);
			$('.description', $this).stop(true, true).fadeIn();

			$this.siblings().stop().animate({
				'width' : '85px'
			}, 450);
			
			switch($(this).attr('id')){
				case 'accordion1':
					$(this).removeClass('bg1').addClass('bg1_color');
					break;
				case 'accordion2':
					$(this).removeClass('bg2').addClass('bg2_color');
					break;
				case 'accordion3':
					$(this).removeClass('bg3').addClass('bg3_color');
					break;
				case 'accordion4':
					$(this).removeClass('bg4').addClass('bg4_color');
					break;
				case 'accordion5':
					$(this).removeClass('bg5').addClass('bg5_color');
					break;
				case 'accordion6':
					$(this).removeClass('bg6').addClass('bg6_color');
					break;
			}

		}, function() {
			var $this = $(this);
			$this.stop().animate({
				'width' : '145px'
			}, 450);
			
			//$('.bgImage', $this).stop(true, true).fadeOut(100);
			$('.description', $this).stop(true, true).fadeOut(500);
			$('.bgDescription', $this).stop(true, true).slideUp(500);
			$('.heading', $this).stop(true, true).slideDown(500);

			$this.siblings().stop().animate({
				'width' : '145px'
			}, 450);
			
			switch($(this).attr('id')){
				case 'accordion1':
					$(this).removeClass('bg1_color').addClass('bg1');
					break;
				case 'accordion2':
					$(this).removeClass('bg2_color').addClass('bg2');
					break;
				case 'accordion3':
					$(this).removeClass('bg3_color').addClass('bg3');
					break;
				case 'accordion4':
					$(this).removeClass('bg4_color').addClass('bg4');
					break;
				case 'accordion5':
					$(this).removeClass('bg5_color').addClass('bg5');
					break;
				case 'accordion6':
					$(this).removeClass('bg6_color').addClass('bg6');
					break;
			}

		});
	}); 
</script>

