<% provide(:title, 'Our Doctors') %>
<div class="insetBgd our_doctors_banner">
	<h1 class="insetType inset_top">Treatments</h1>
	<h1 class="insetType inset_bottom">you can trust</h1>
</div>

<div class="row">

	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Kiran Dhar</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_kiran.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Kiran Dhar</strong> is an experienced dermatologist motivated 
						by her motto of honesty, integrity and service in medical practice. Currently, 
						she is practicing in Dubai after building her reputation as a skin specialist and a cosmetic practitioner.
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_kiran">Know More</a>
				</section>
			</section>
		</div> 
	</span>

	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Aditi Jha</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_aditi_jha.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Aditi Jha</strong> is a refined dermatologist and has to her credit the management 
						of difficult and interesting cases in Clinical Dermatology, Venereology, Dermatosurgery, 
						Lasers and cosmetology from the premier ...
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_aditi_jha">Know More</a>
				</section>
			</section>
		</div> 
	</span>

</div>


<div class="row">

	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Chanchal Choudhary</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_chanchal.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Chanchal Choudhary</strong>  is currently working as a Consultant in kirandermasurge, 
						Max hospital, Panchsheel. She has a five years of experience...
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_chanchal">Know More</a>
				</section>
			</section>
		</div> 
	</span>
	
	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Pooja Aggarwal</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_pooja.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr Pooja Aggarwal</strong> has a rich experience as a dermatologist, trichologist, 
						dermatosurgeon and cosmetologist. She was initially associated with Artemis 
						Hospital and Kaya Skin Clinic in Gurgaon... 
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_pooja">Know More</a>
				</section>
			</section>
		</div> 
	</span>
	

</div>


<div class="row">
<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Sidharth Sonthalia</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">
					<%= image_tag("doctors/doct_sid.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Sidharth Sonthalia</strong>  Following his MBBS (with Honours), Dr. Sidharth Sonthalia pursued his MD in Dermatology and Venereology in 2008. In a short span of 6 years in dermatology.. 
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_sid">Know More</a>
				</section>
			</section>
		</div> 
	</span>

	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Sheilly Kapoor</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_sheilly.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Sheilly Kapoor</strong>  has contributed immenselythe field of Dermatology for the past 
						13 years with a special interest in Dermatosurgery and Cosmetology. She has to her credit a detailed... 
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_sheilly">Know More</a>
				</section>
			</section>
		</div> 
	</span>

</div>


<div class="row">

	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Neha Garg</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_neha.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Neha Garg</strong> is an alumini of Sardar Patel Medical college, Bikaner. 
						She has been a Family Physician withmore than 22 years of experience. 
						She has been actively involved in providing primary...
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_neha">Know More</a>
				</section>
			</section>
		</div> 
	</span>
	
	<span class="span6">
		<div class="box effect8" >
			<h3>Dr. Naresh Jain</h3>
			<br />
			<section id="topBlock">

				<section class="doctor_pic">

					<%= image_tag("doctors/doct_naresh.jpg", alt: "Rails", border: "0") %>
				</section>

				<section class="doctor_description">
					<p>
						<strong>Dr. Naresh Jain</strong>  has a rare distinction of having five and half years of 
						experience in Clinical Dermatology, Venereology, Dermatosurgery, Lasers and cosmetology from...
					</p>
					<a class="btn btn-small btn-primary" data-toggle="modal" href="#dr_naresh">Know More</a>
				</section>
			</section>
		</div> 
	</span>

	

</div>

<%= render 'layouts/doctors_know_more' %>

