<blockquote class="testimonial">
	<p>
		<%= testimonial.message %>
	</p>
</blockquote>
<div class="arrow-down"></div>
<p class="testimonial-author">
	<%= testimonial.name %> | <span><%= mail_to testimonial.email %></span> 
	| <span><td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td></span> | <span><td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td></span>
</p>
<br />