<footer>
	<div>
  		<%= link_to image_tag("facebook.png", alt: "Rails", border: "0"), "https://www.facebook.com/kiranderma", :class => 'footer_logo' %>
  		<%= link_to image_tag("twitter.png", alt: "Rails", border: "0"), "http://twitter.com/KiranDerma", :class => 'footer_logo' %>
  	</div>
  <small>
    Made by Pranav Dhar</a>. Contact: <a href="mailto:pranav.dhar2@gmail.com">pranav.dhar2@gmail.com</a>.
  </small>
  <nav>
    <ul>
	  <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Blog",   "http://kirandermatekniks.blogspot.in/" %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--li><a href="http://news.railstutorial.org/">News</a></li-->
    </ul>
  </nav>
</footer>

