<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" valign="center">
    	
      <!--<%= link_to "kiran dermasurge", root_path, id: "logo" %>-->
      <%= link_to image_tag("img_logo2.png", alt: "Rails", border: "0"), root_path, id: "logo" %>
      
      <nav>
        <ul class="nav pull-right">
          <!-- Services,  Out Doctor, What's New, Media, Testimonial, FAQ's , Contact-->
          <li><%= link_to "Sign In", "#" %></li>	
          <li><%= link_to "Services", "#" %></li>
          <li><%= link_to "Our Doctor", "#" %></li>
          <li><%= link_to "What's New", "#" %></li>
          <li><%= link_to "Media", "#" %></li>
          <li><%= link_to "Testimonial", "#" %></li>
          
          <li><%= link_to "Help", help_path %></li>
          
          
          
        </ul>
      </nav>
    </div>
  </div>
</header>