<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" valign="center">

			<!--<%= link_to "kiran dermasurge", root_path, id: "logo" %>-->
			<%= link_to image_tag("kds_logo.png", alt: "Rails", border: "0"), root_path, id: "logo", :class => 'brand' %>

			<nav>
				<ul class="nav pull-left">
					<!-- Services,  Out Doctor, What's New, Media, Testimonial, FAQ's , Contact-->

					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Services <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Skin Rejuvenation</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Acne Treatment", acne_treatment_path %>
									</li>
									<li>
										<%= link_to "Scar Revision", scar_revision_path %>
									</li>
									<li>
										<%= link_to "Microdermabration", micro_derma_path %>
									</li>
									<li>
										<%= link_to "Peels", peels_path %>
									</li>
									<li>
										<%= link_to "Photo Facial", photo_facial_path %>
									</li>
									<li>
										<%= link_to "Skin tags/moles/warts removal", mole_remove_path %>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Anti Aging</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Botox / Filler", botox_path %>	
									</li>
									<li>
										<%= link_to "Face Lift", facelift_path %>	
									</li>
									<li>
										<%= link_to "Laser Resurfacing", laser_reface_path %>
									</li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#">Body Contouring</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Body Shaping", body_shaping_path %>
									</li>
									<li>
										<%= link_to "Mesotherapy", mesotherapy_path %>
									</li>
									<li>
										<a href="#">Liposuction</a>
									</li>
								</ul>
							</li>
							<!--li class="divider"></li-->
							<!--li class="nav-header">Nav header</li-->
							<li class="dropdown-submenu">
								<a href="#">Vitiligo Treatment</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Surgical</a>
									</li>
									<li>
										<a href="#">Medical</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Hair Reduction</a>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Hair Treatment</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Hair Transplant</a>
									</li>
									<li>
										<a href="#">Hair Fall Treatment</a>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Surgeries</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Breast</a>
									</li>
									<li>
										<a href="#">Nose Shape Correction</a>
									</li>
									<li>
										<a href="#">Dimple Creation</a>
									</li>
									<li>
										<a href="#">Genital Surgeries</a>
									</li>
									<li>
										<a href="#">G-Spot Enhancement</a>
									</li>
									<li>
										<a href="#">Ear</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a data-toggle="modal" href="#locations">Locations</a>
					</li>

					<li class="divider-vertical"></li>
					<li>
						<a href="#">What&#x27;s New</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href="#">Our Doctors</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href="#">Testimonials</a>
					</li>

				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>

					<li>
						<div class="btn-group">
							<a href="/users/sign_in" class="btn btn-small btn-primary">Sign in</a>
						</div>
					</li>
					<li>
					</li>

				</ul>

			</nav>
		</div>
	</div>

	<script type="text/javascript">
		//Required to initialize the dropdown menu
		$(function() {
			$('.dropdown-toggle').dropdown();
		});
	</script>

</header>