<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" valign="center">

			<!--<%= link_to "kiran dermasurge", root_path, id: "logo" %>-->
			<%= link_to image_tag("kds_logo_new.jpg", alt: "kirandermasurge logo", border: "0"), root_path, id: "logo", :class => 'brand' %>

			<nav>
				<ul class="nav pull-left">
					<!-- Services,  Out Doctor, What's New, Media, Testimonial, FAQ's , Contact-->

					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Services <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Skin Rejuvenation</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Acne Treatment", acne_treatment_path %>
									</li>
									<li>
										<%= link_to "Scar Revision", scar_revision_path %>
									</li>
									<li>
										<%= link_to "Microdermabration", micro_derma_path %>
									</li>
									<li>
										<%= link_to "Peels", peels_path %>
									</li>
									<li>
										<%= link_to "Photo Facial", photo_facial_path %>
									</li>
									<li>
										<%= link_to "Skin tags/moles/warts removal", mole_remove_path %>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Anti Aging</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Botox / Filler", botox_path %>
									</li>
									<li>
										<%= link_to "Face Lift", facelift_path %>
									</li>
									<li>
										<%= link_to "Laser Resurfacing", laser_reface_path %>
									</li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#">Body Contouring</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Body Shaping", body_shaping_path %>
									</li>
									<li>
										<%= link_to "Mesotherapy", mesotherapy_path %>
									</li>
									<!--li>
									<a href="#">Liposuction</a> Doesn't Exist Yet!!!
									</li-->
								</ul>
							</li>
							<!--li class="divider"></li-->
							<!--li class="nav-header">Nav header</li-->
							<li class="dropdown-submenu">
								<a href="#">Vitiligo Treatment</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Surgical", vitiligo_surgical_path %>
									</li>
									<li>
										<%= link_to "Medical", vitiligo_medical_path %>
									</li>
								</ul>
							</li>
							<li>
								<%= link_to "Hair Reduction", hair_reduction_path %>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Hair Treatment</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Hair Transplant", hair_transplant_path %>
									</li>
									<li>
										<%= link_to "Hair Fall Treatment", hair_fall_path %>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Surgeries</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "Breast", breast_shaping_path %>
									</li>
									<li>
										<%= link_to "Nose Shape Correction", nose_shape_path %>
									</li>
									<li>
										<%= link_to "Dimple Creation", dimple_creation_path %>
									</li>
									<li>
										<%= link_to "Genital Surgeries", genitalia_path %>
									</li>
									<!--li> Dead Link
									<a href="#">G-Spot Enhancement</a>
									</li-->
									<li>
										<%= link_to "Ear", ear_path %>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a data-toggle="modal" href="#locations">Locations</a>
					</li>

					<li class="divider-vertical"></li>
					<li>
						<%= link_to "What's New", whats_new_path %>
					</li>
					<li class="divider-vertical"></li>

					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Our Doctors <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Doctor's Schedule", doc_schedule_path %>
							</li>
							<li>
								<%= link_to "Know our Doctors", our_doctors_path%>
							</li>
						</ul>

					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Testimonials", testimonials_path %>
					</li>

				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>

					<!--li>
					<div class="btn-group">
					<a href="/users/sign_in" class="btn btn-small btn-primary">Sign in</a>
					</div>
					</li-->
					<% if user_signed_in? %>
					<li>
						<div class="btn-group">
							<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i>&nbsp; <%= current_user.username %> </a>
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">

								<li>

									<%= link_to raw("<i class=\"icon-wrench icon-black\"></i>&nbsp;Settings"),
									edit_user_registration_path %>
								</li>
								<!--li>
								<a href="#"><i class="icon-trash"></i> Settings</a>
								</li-->
								<li class="divider"></li>
								<li>
									<%= link_to raw("<i class=\"icon-off icon-black\"></i>&nbsp;Sign out"),
									destroy_user_session_path, method: "delete" %>
								</li>
							</ul>
						</div>
					</li>

					<% else %>
					<li>
						<% if !current_page?(new_user_session_path) %>
						<div class="btn-group">
							<%= link_to "Sign in", new_user_session_path, :class => 'btn btn-primary' %>
						</div>
						<% end %>
					</li>
					<li>
						<% if current_page?(new_user_session_path) %>
						<div class="btn-group">
							<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary' %>
						</div>

						<% end %>
					</li>
					<% end %>

				</ul>

			</nav>
		</div>
	</div>

	<script type="text/javascript">
		//Required to initialize the dropdown menu
		$(function() {
			$('.dropdown-toggle').dropdown();
		});
	</script>

</header>