<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" %>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag "application"%>
		<%= javascript_include_tag :defaults, "http://pdhar-faye-server.herokuapp.com/faye.js" %>

		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=493272794050268";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				box = null;
				$("#chatbutton").click(function(event, ui) {

					if (box) {
						box.chatbox("option", "boxManager").toggleBox();
					} else {
						var myvalue = null;
						$('.sandy').dialog({
							buttons : {
								"OK" : function() {
									if ($('#username').val() == '') {
										$('#username').focus();
									} else {
										myvalue = $("#username").val();
										$(this).dialog('close');
										//alert(myvalue);
										box = $("#chat_div").chatbox({
											id : "chat_div",
											/*user : {
												key : "value"
											},*/
											user  : myvalue,	
											title : "Live Chat"
										});
									}
								}
							}
						});

						
					}
				});
			});
			$(window).load(function() {
				$("#sticker").sticky({
					topSpacing : 70
				});
			});
		</script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38778547-1']);
		  _gaq.push(['_setDomainName', document.domain]);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();		
		</script>
	</head>
	<body style="position: relative;">

		<div id="fb-root"></div>

		<%= render 'layouts/header' %>
		
		<div id="wrapper" >
			<a id="chatbutton" href="#" onclick="this.href='javascript:return false;';">
				<div id="sticker">
				</div>
			 </a>
		</div>
		<div class="container">
			<!-- hello  url_for(:controller=>'static_pages', :action=>'home', :only_path =>false )  -->
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>">
				<%= value %>
			</div>

			<% end %>

			<%= render 'layouts/locations' %>

			<!--div class="modal hide fade in" data-backdrop="static" id="RegistrationEditModal">
			<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>This is a Modal Heading</h3>
			</div>
			<div class="modal-body">
			#render 'devise/registrations/edit'
			</div>
			<div class="modal-footer">
			<a href="#" class="btn btn-success">Call to action</a>
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
			</div>

			<a class="btn" data-toggle="modal" href="#user-edit" >Launch Modal</a-->

			<%= yield %>

			<!--input id="chatbutton" type="button"
			name="toggle" value="toggle" /-->
			<div style="display: none">

				<div id="chat_div" style="width: 250px;"></div>
				<hr />
				<div id="log"></div>
				<div id="test" class="sandy" title="Please enter your name">
					<input id="username" class="sandy1" />
				</div>
			</div>

			<!--input id="test_chat" type="button"
			name="test_chat" value="test_chat" /-->

			<%= debug(params) if Rails.env.development? %>
		</div>

		<div style="background-color: rgba(92,92,158,0.95)" class="navbar navbar-fixed-bottom">
			<div class="container">
				<%= render 'layouts/footer' %>
			</div>
		</div>

	</body>
</html>